html {
  background-color:rgb(229,230,231);
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.homeText {
  font-size: 28px;
  padding-top: 3%;
  padding-left: 25px;
  float: left;
}
.tableInfo {
  text-align: left;
  margin-bottom: 5px;
  margin-top: 10px;
}


#subheader {
  float: left;
  font-size: 14px;
  margin-bottom: 16px;
}

#name {
  width: 50%;
}

#cases {
  width: 50%;
}

button {
  border: none;
  background: none;
}

button:focus {outline:0;}

button:hover {
  cursor: pointer;
}

.SortButton {
  display: inline;
  padding: 0;
  font-size:12px;
  padding-bottom: 5px;
  color: rgb(0,10,151);
}

td, th {
  text-align: left;
}

.panelHeader {
  background-color: white;
}

#title {
  color: rgb(0,10,151);
}


th  {
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(219,220,221);
}

td {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 4px;  
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(236,236,237);
}

thead > tr > th{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(219,220,221);

}

.header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(219,220,221);

}


table {
  display: block;
  border-spacing: 0;
  height: 700px;
  overflow-y: scroll;
  width: 100%; 
}

.Panel {
  padding-left: 25px;
  padding-top: 8px;
  margin-top: 3%;
  width: 500px;
  height: 100%;
  box-shadow: 2.5px 1.25px 1.25px rgb(92,91,93);
  overflow: hidden;
  background-color: white;
}
